*.pyc
/scripts/personal/output
/dist
/src/icepool.egg-info
/public/ability_scores/index.zip
/public/apidoc
*.db
/notebooks/_output
/notebooks/.ipynb_checkpoints
/public/notebooks
/scripts
/tests/*.bat
/misc/*.ico
/misc/*.png
/.vscode/launch.json
/src/.vscode/settings.json
