body {
    color: #0f0f0f;
    background-color: #efefef;
}

form {
    font-size: 150%;
}

input[type='number']{
    font-size: 100%;
    width: 2em;
}

canvas {
    background-color: #ffffff;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

td {
    text-align: right;
}