body {
    color: #0f0f0f;
    background-color: #efefef;
    max-width: 1920px;
    margin: auto;
    font-family: Helvetica, sans-serif;
}

form {
    font-size: 150%;
}

input[type='number'] {
    font-size: 100%;
    width: 2em;
}

input[type=checkbox] {
    transform: scale(1.5);
}

select {
    font-size: 100%;
}

canvas {
    background-color: #f7f7f7;
}

th,
td {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

td {
    text-align: right;
}

.row {
    display: flex;
}

.col {
    margin: 0.25em;
    flex: 50%;
}

.floating_controls {
    border: 2px solid #dfdfdf;
    background-color: #efefefdf;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow-y: auto;
    max-height: 30vh;
}

.chart_container {
    position: relative;
    margin: auto;
    width: 80vw;
    max-width: 180vh;
    height: 60vh;
    max-height: 60vw;
}