name: Deploy Notebooks

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'notebooks/**'
      - 'jupyter*'
      - 'favicon*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '>=3.11'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r notebook_requirements.txt
      - name: Build JupyterLite Site
        run: |
          mkdir -p dist/
          jupyter lite build --contents notebooks --output-dir dist
      - name: Copy Favicon
        run: |
          cp favicon.* dist/
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: dist
          target-folder: notebooks
